@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

button {
    @apply font-medium bg-green-500 rounded-md p-1 transition duration-200 text-white font-buttons text-sm
}

button:hover {
    @apply bg-green-400
}

.btn-red {
    @apply bg-red-500
}

.btn-red:hover {
    @apply bg-red-600
}

h1 {
    @apply text-4xl font-semibold my-3
}

h2 {
    @apply text-3xl font-semibold my-2
}


#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: linear-gradient(150deg, rgba(102, 228, 98, 0.761) 15%, #91e3db 70%, #91ebb7 94%);
}

#stripes,
#stripes span {
    position: absolute;
}

#stripes span {
    height: 40px;
}