@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

button {
    @apply font-medium bg-green-500 rounded-md p-1 transition duration-200 text-white font-buttons text-sm
}

button:hover {
    @apply bg-green-400
}

.btn-red {
    @apply bg-red-500
}

.btn-red:hover {
    @apply bg-red-600
}

h1 {
    @apply text-4xl font-semibold my-3
}

h2 {
    @apply text-3xl font-semibold my-2
}


#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: linear-gradient(150deg, rgba(102, 228, 98, 0.761) 15%, #91e3db 70%, #91ebb7 94%);
}

#stripes,
#stripes span {
    position: absolute;
}

#stripes span {
    height: 40px;
}



.lt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.lt-username {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.lt-buttons {
    display: flex;
    flex-direction: column;
}

.lt-button {
    transition: all 0.3s linear;
}

.lt-icons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.lt-icons > a > svg {
    transition: color 0.25s linear;
}


/* Default Style */

.button-default {
    outline: 1px solid black;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 200px;
}

.button-default:hover {
    outline: 1px solid transparent;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(102, 228, 98, 0.761)
}

.icons-default > a > svg {
    color: gray;
}

.icons-default > a > svg:hover {
    color: green;
}